body {
    background-color: #dad2bc;
    color: #252323;   
    margin: 30px;
    border-style: groove;
    border-width: 25px;
    border-color: #356333;
    padding: 20px;
}

h1 {
    color:#252323;
    text-align: center;
    font-size: 40px;
    padding: 20px;
}

h2 {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
}

#Connect {
    text-align: left;
    padding: 30px 10px 10px 10px;
    font-size: 20px;
}

p {
    font-size: 18px;
    color: #252323;
}

a {
    color: #252323;
}

.expcolumn {
    font-size: 20px;
    color: #e06f6f;
}

.connectcolumns {
    font-size: 20px;
    color: #70798c;
    margin: 10px;
}

.columns {
    display: flex;
} 

.column {
    padding: 5px;
    margin: 5px;
}

.navrows {
    margin: 10px;
    color: #000000;
}

#About {
    text-align: center;
    margin: 40px;
}

#skillsList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 20px;
    color: #252323;
}


#messages {
    max-width: 300px;
    margin: 50px auto;
    text-align: center;
}

#messageTitle {
    color: darkolivegreen;
    margin: 20px 0 10px;
}


#Leave_a_Message {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: left;
}